<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Player Ratings</title>
   <link rel="shortcut icon" href="images/fifa17.png">

  <!-- CSS -->
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>

  <!-- navigation bar -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <a class="navbar-brand"><i class="glyphicon glyphicon-bullhorn"></i> Player Ratings Entry Page</a>
    </div>
  </nav>

  <!-- main body of our application -->
  <div class="container" id="events">

    <!-- add an event form -->
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>Add a Player Rating</h3>
        </div>
        <div class="panel-body">
         <!-- <div v-for="(value, key) in event">

          <div class="form-group">
           <label :for="key">{{ key }}</label>

            <input class="form-control" :id="key" v-model="">
          </div> -->

          <div class="form-group">
            <label for="Player">Player: </label><br>
            <select v-model="event.Player" options="event">
             <option disabled value="">Select a Player</option>
             <option v-for="e in events">{{ e.Player }}</option>
            </select>
          </div>
          <label for="PositionType">Position Type: </label><br>
          <select v-model="event.PositionType">
           <option disabled value="">Select a Position Type</option>
           <option v-for="p in positiontypes">{{ p }}</option>
          </select>

          <div class="form-group">
            <br>
            <label for="PlayerNumber">Player Number:</label>
            <input class="form-control" v-model.number="event.PlayerNumber" type="number">
          </div>
          <div class="form-group">
            <label for="Position">Position:</label>
            <input class="form-control" v-model="event.Position">
          </div>
          <div class="form-group">
            <label for="Team">Team:</label>
            <input class="form-control" v-model="event.Team">
          </div>
          <div class="form-group">
            <label for="timestamp">Epoch Timestamp:</label>
            <input class="form-control" v-model="event.timestamp">
          </div>
          <div class="form-group">
            <label for="MatchRating">Match Rating:</label>
            <input class="form-control" v-model.number="event.MatchRating" id="MatchRating" type="number">
          </div>
          <div class="form-group">
            <label for="Goals">Goals:</label>
            <input class="form-control" v-model.number="event.Goals" type="number">
          </div>
          <div class="form-group">
            <label for="OwnGoals">Own Goals:</label>
            <input class="form-control" v-model.number="event.OwnGoals" type="number">
          </div>
          <div class="form-group">
            <label for="GoalAssists">Goals Assists:</label>
            <input class="form-control" v-model.number="event.GoalAssists" type="number">
          </div>
          <div class="form-group">
            <label for="ShotsOnTarget">Shots on Target:</label>
            <input class="form-control" v-model.number="event.ShotsOnTarget" type="number">
          </div>
          <div class="form-group">
            <label for="ShotsAttempted">Shots Attempted:</label>
            <input class="form-control" v-model.number="event.ShotsAttempted" type="number">
          </div>
          <div class="form-group">
            <label for="Passes">Passes:</label>
            <input class="form-control" v-model.number="event.Passes" type="number">
          </div>
          <div class="form-group">
            <label for="PassesAttempted">Pass Attempted:</label>
            <input class="form-control" v-model.number="event.PassesAttempted" type="number">
          </div>
          <div class="form-group">
            <label for="Dribbles">Dribbles:</label>
            <input class="form-control" v-model.number="event.Dribbles" type="number">
          </div>
          <div class="form-group">
            <label for="DribblesAttempted">Dribbles Attempted:</label>
            <input class="form-control" v-model.number="event.DribblesAttempted" type="number">
          </div>
          <div class="form-group">
            <label for="Crosses">Crosses:</label>
            <input class="form-control" v-model.number="event.Crosses" type="number">
          </div>
          <div class="form-group">
            <label for="CrossesAttempted">Crosses Attempted:</label>
            <input class="form-control" v-model.number="event.CrossesAttempted" type="number">
          </div>
          <div class="form-group">
            <label for="Tackles">Tackles:</label>
            <input class="form-control" v-model.number="event.Tackles" type="number">
          </div>
          <div class="form-group">
            <label for="TacklesAttempted">Tackles Attempted:</label>
            <input class="form-control" v-model.number="event.TacklesAttempted" type="number">
          </div>
          <div class="form-group">
            <label for="Saves">Saves:</label>
            <input class="form-control" v-model.number="event.Saves" type="number">
          </div>
          <!-- </div> -->


          <!-- <div class="form-group">
            <textarea class="form-control" placeholder="Event Description" v-model="event.description"></textarea>
          </div>

          <div class="form-group">
            <input type="date" class="form-control" placeholder="Date" v-model="event.date">
          </div> -->

          <button class="btn btn-primary" v-on:click="addEvent">Submit</button>

        </div>
      </div>
    </div>

    <!-- show the events -->
    <div class="col-sm-6">
      <div class="list-group">
       <h4 class="list-group-item-heading">Players Available</h4>
        <a href="#" class="list-group-item" v-for="event in events">
          <p class="list-group-item-text" v-if="event.Player">{{ event.PlayerNumber }}&nbsp;&nbsp;&nbsp;{{ event.Player }}</p>
          <p class="list-group-item-text" v-if="event.MatchRating">{{ event.MatchRating }}</p>

          <!-- <button class="btn btn-xs btn-danger" v-on:click="deleteEvent(index)">Delete</button> -->
        </a>
      </div>
    </div>
  </div>

  <!-- JS -->
  <script src="node_modules/vue/dist/vue.js"></script>
  <script src="node_modules/vue-resource/dist/vue-resource.js"></script>
  <script src="app.js"></script>
</body>
</html>
